[Desktop Entry]
Version=1.1
Type=Application
Name=Start Abora
GenericName=Abora Installer
Comment=Install or reconfigure Abora OS
Icon=system-software-install
Exec=abora-setup
Terminal=false
Categories=System;
Keywords=setup;install;configure;reconfigure;desktop;apps;locale;abora;nixos;anix;
StartupNotify=true
